In [ ]:
import pandas as pd

In [ ]:

insurance=pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Insurance%20Premium.csv")

In [ ]:
insurance.head()

   ID  Age  Gender     BMI  Children Smoker Region  Premium
0   1   19  female  27.900         0    yes  south    16885
1   2   18    male  33.770         1     no   east     1726
2   3   28    male  33.000         3     no   east     4449
3   4   33    male  22.705         0     no   west    21984
4   5   32    male  28.880         0     no   west     3867

In [ ]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        1338 non-null   int64
 1   Age       1338 non-null   int64
 2   Gender    1338 non-null   object
 3   BMI       1338 non-null   float64
 4   Children  1338 non-null   int64
 5   Smoker    1338 non-null   object
 6   Region    1338 non-null   object
 7   Premium   1338 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 83.8+ KB

In [ ]:
insurance.describe()

                ID          Age          BMI     Children       Premium
count  1338.000000  1338.000000  1338.000000  1338.000000   1338.000000
mean    669.500000    39.207025    30.663397     1.094918  13270.414798
std     386.391641    14.049960     6.098187     1.205493  12110.012882
min       1.000000    18.000000    15.960000     0.000000   1122.000000
25%     335.250000    27.000000    26.296250     0.000000   4740.000000
50%     669.500000    39.000000    30.400000     1.000000   9382.000000
75%    1003.750000    51.000000    34.693750     2.000000  16640.000000
max    1338.000000    64.000000    53.130000     5.000000  63770.000000

In [ ]:
insurance.Gender.value_counts()

male      676
female    662
Name: Gender, dtype: int64

In [ ]:
insurance.Region.value_counts()

east     364
south    325
west     325
north    324
Name: Region, dtype: int64

In [ ]:
insurance=pd.get_dummies(insurance)
insurance

,ID,Age,BMI,Children,Premium,Gender_female,Gender_male,Smoker_no,Smoker_yes,Region_east,Region_north,Region_south,Region_west
0,1,19,27.900,0,16885,1,0,0,1,0,0,1,0
1,2,18,33.770,1,1726,0,1,1,0,1,0,0,0
2,3,28,33.000,3,4449,0,1,1,0,1,0,0,0
3,4,33,22.705,0,21984,0,1,1,0,0,0,0,1
4,5,32,28.880,0,3867,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,1334,50,30.970,3,10601,0,1,1,0,0,0,0,1
1334,1335,18,31.920,0,2206,1,0,1,0,0,1,0,0
1335,1336,18,36.850,0,1630,1,0,1,0,1,0,0,0
1336,1337,21,25.800,0,2008,1,0,1,0,0,0,1,0
1337,1338,61,29.070,0,29141,1,0,0,1,0,0,0,1

In [ ]:
insurance.columns

Index(['ID', 'Age', 'BMI', 'Children', 'Premium', 'Gender_female',
       'Gender_male', 'Smoker_no', 'Smoker_yes', 'Region_east', 'Region_north',
       'Region_south', 'Region_west'],
      dtype='object')

In [ ]:
y=insurance['Premium']
X=insurance.drop(['Premium','ID'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=2529)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [ ]:
X_train=ss.fit_transform(X_train)

In [ ]:
X_train.shape

(1070, 11)

In [ ]:
X_test=ss.transform(X_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model=Sequential()

In [ ]:
model.add(Dense(11,activation= 'relu'))
model.add(Dense(15, activation = 'relu'))
model.add(Dense(25, activation = 'relu'))
model.add(Dense(20, activation = 'relu'))
model.add(Dense(11, activation = 'relu'))
model.add(Dense(1, activation = 'linear'))

In [ ]:
model.compile(loss='mean_squared_error',optimizer='adam',metrics='mean_absolute_error') ## in adam self learning adjust

In [ ]:
model.fit(X_train,y_train,epochs=250,batch_size=50)

In [ ]:
1070/50

21.4

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 0
Trainable params: 0
Non-trainable params: 0
_________________________________________________________________

In [ ]:
y_pred=model.predict(X_test)

9/9 [==============================] - 0s 2ms/step

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [ ]:
mean_absolute_error(y_test,y_pred)

3135.1496172093634

In [ ]:
mean_squared_error(y_test,y_pred)

27956684.939292863